:root {
  --text: #1a1d20;
  --text-h: #1a1d20;
  --bg: #fff;
  --border: #94ffbb;
  --code-bg: #f4f3ec;
  --accent: #36f;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f3f7fa;
}

section {
  padding: 0 16px;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  line-height: normal;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

.text-center {
  text-align: center;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background-color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 3rem;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.button--secondary {
  background-color: transparent;
  border: 1px solid var(--accent);
  color: var(--accent)
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input {
  background-color: #ffffff;
  color: var(--text);
  border: 1px solid #cccccc;
  padding: 8px 12px;
}

.horses {
  display: flex;
	margin: 40px 0;
}
